*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 1300px;
    height: 650px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}
.main{
    height: 100px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.main div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;    
}
.F{
    position: absolute;
    bottom: 0;
}